RewriteEngine On

RewriteRule ^index$ index.php
RewriteRule ^.{0}$ index.php

RewriteRule ^CompteClients$  controller/CompteClientController.php
RewriteRule ^searchClient$  controller/SearchClient.php
RewriteRule ^addCompte$  view/compte/add.php
RewriteRule ^listeCompte$  view/compte/liste.php
